.popup__close {
  background-image: url(../../../images/closeIcon.svg);
  background-repeat: no-repeat;
  background-size: 46px 46px;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 36px;
  height: 40px;
  position: absolute;
  top: -34px;
  right: -32px;
  cursor: pointer;
  transition: all linear .2s;
  padding: 0;
  outline: none;
}

.popup__close:hover {
  opacity: .6;
}
